.anunciar-ganador {
    text-align: center;
    margin: 20px;
  }
  
  .btn-anunciar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .btn-anunciar:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
  }
  
  .alerta-ganador {
    margin-top: 20px;
    color: green;
    font-size: 18px;
  }
  